{% load staticfiles %}
<html>
<head>
    <title>Big超市</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% block css %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shop_cart.js' %}"></script>
</head>
<body>
<div class="frame">
    <div class="navigationbar page">Let's Go</div>
    <div class="navigationbar {%  block home_nav  %}{% endblock %}" onclick="home()">主页</div>
    <div class="navigationbar {%  block shopping_list  %}{% endblock %}" onclick="shoppingList()">商品列表</div>
    <div class="navigationbar cartPosition {%  block cart  %}{% endblock %}" onclick="cart()">
        <img class="icon" src="{% static '购物车.png' %}">购物车(<number>{{total_count}}</number>)</div>
</div>
{% block content %}
{% endblock %}
</body>
</html>