{% load staticfiles %}
<html>
<head>
    <title>没钱赚商店</title>
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">
</head>
<body>
    <div class="navigationBar">
        <div class="page">
            Let's Go
        </div>
            <a href="http://127.0.0.1:8000/" class="homePageButton">主页</a>
            <a href="#" class="listButton">商品列表</a>
            <a href="#" class="cartButton"><img class="icon" src="http://www.msqq.com/d/file/icon/2014-11-21/0f84db36315717762ed353eb3defaa7b.png"
            onerror="alert('图片未加载')"/>购物车(0)</a>
        </div>
<div class="homePage">
    <h1>
        Welcome to Let's Go!
    </h1>
    <p>
        商店里进行购物结算时会使用收银(POS)  系统，这台收银机会在结算时根据客户的购物车
    (Car) 中的商品 (Item) 和商店正在进行的优惠活动(Promotion) 进行结算和打印购物
      清单。已知该商品店正在对部分商品进行“买二赠一”的优惠活动。我们需要实现一个名为printlnventory
        函数，该函数能够将指定格式的数据作为参数 输入，然后在浏览器的控制台中输出结算清单的文本。
    </p>
        <a href="http://127.0.0.1:8000/" class="button">Let's Go</a>
    </div>
    </div>
</body>
</html>