{% extends 'blog/list.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}
{% block content %}
<div class="list">
    <div class="mark">商品列表</div>
        <table>
            <tr>
                <th width="20%">分类</th>
                <th width="20%">名称</th>
                <th width="20%">单价(元)</th>
                <th width="10%">单位</th>
                <th width="30%"> </th>
            </tr>
            <tr>
    {% for goods in goods %}
                <td>{{ goods.type }}</td>
                <td>{{ goods.name }}</td>
                <td>{{ goods.price }}</td>
                <td>{{ goods.unit }}</td>
                <td><button class="shopCartButton"  id="{{ goods.id }}">加入购物车</button></td>
            </tr>
    {% endfor %}
        </table>
</div>
    {% endblock content %}