{% extends 'blog/list.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}
{% block content %}
<div class="list">
<div class="pp">
商品列表
</div>
<table>
<tr>
    <th>分类</th>
    <th>名称</th>
    <th>单价(元)</th>
    <th>单位</th>
    <th> </th>
</tr>
<tr>
    {% for goods in goods %}
    <td>{{ goods.type }}</td>
    <td>{{ goods.name }}</td>
    <td>{{ goods.price }}</td>
    <td>{{ goods.unit }}</td>
    <th> </th>
</tr>
    {% endfor %}
</table>
</div>
    {% endblock content %}