{% extends 'blog/list.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/shop_cart.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="{% static 'js/shop_cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
{%  block cart  %}active{% endblock %}
{% block content %}
<div class="list">
    <div class="mark">购物清单</div>
        <table>
            <tr>
                <th width="10%">分类</th>
                <th width="15%">名称</th>
                <th width="15%">单价(元)</th>
                <th width="10%">单位</th>
                <th width="25%">数量</th>
                <th width="25%">小计</th>
            </tr>
            <tr>
                {% for purchase in purchase %}
                    <td>{{ purchase.type }}</td>
                    <td>{{ purchase.name }}</td>
                    <td>{{ purchase.price }}</td>
                    <td>{{ purchase.unit }}</td>
                    <td><div class="package"><button class="reduce" id="{{ purchase.goods_id }}" >-</button>
                        <span id="gf">{{ purchase.count }}</span>
                        <button class="plus" id="{{ purchase.goods_id }}">+</button>
                    </div>
                    </td>
                    <td id="subtotals{{ purchase.goods_id }}">原价:({{ purchase.subtotal }}元)</td>
            </tr>
                {% endfor %}
        </table>
<p>总计:{{ totals }}元</p>
<div class="paymentButton" onclick="payment()">付款</div>
</div>
    {% endblock content %}