body{
    margin: 0px;
}
.frame {
    background-color: #373737;
    width: auto;
    height: 80px;
    margin: auto;
}
.go {
    background-color: #373737;
    color: #bebdc1;
    width: 200px;
    float: left;
    line-height: 80px;
    font-size:18px;
    text-align: right;
    margin: 0px 10px 0px 0px;
}
.button {
    background-color: black;
    color: white;
    width: 80px;
    float: left;
    line-height: 80px;
    font-size:18px;
    text-align: center;
    text-decoration:blink;
}
.list {
    background-color: #373737;
    color: #bebdc1;
    float: left;
    line-height: 80px;
    font-size:18px;
    padding: 0px 10px;
}
.cart {
    background-color: #373737;
    margin: 0px 150px;
    color: #bebdc1;
    float: right;
    line-height: 80px;
    font-size:18px;
}
img.icon {
    height: 25px;
    float: left;
    margin: 26px 0px;
}
.b {
    background-color: #eae9ed;
    padding: 50px 20px;
    margin: 20px 150px;
}
h1{
    font-size:80px;
}
p{
font-size:37px;
}
.e {
    background-color: #5e6ac0;
    width: 120px;
    height: 60px;
    line-height: 60px;
    font-size:18px;
    text-align: center;
    border-radius:10px;
    color: white;
    display:block;
}
.list:hover, .cart:hover, .gff:hover {
    background-color: black;
}