.list{
    background-color: white;
    margin: 30px 150px;
    height: auto;
    border-style: solid;
    border-color: #bebdc1;
    border-width: 1px;
}
.mark {
    background-color: rgba(128, 109, 109, 0.2);
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    border:1px solid rgba(128, 109, 109, 0.2);
    padding-left: 50px;
}
table,th,td
  {
    border:1px solid rgba(128, 109, 109, 0.2);
    color: rgba(29, 27, 34, 0.8);
    text-align: center;
  }
table
  {
    border-collapse: collapse;
    margin: 20px 20px;
    width: 97%;
  }
th{
    height: 20px;
}
td
  {
    height:35px;
  }
.freeList{
    background-color: rgba(128, 109, 109, 0.2);
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    border:1px solid rgba(128, 109, 109, 0.2);
    padding-left: 50px;
}
.determine{
    background-color: #5e6ac0;
    width: 60px;
    font-size:18px;
    border-radius:5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    height: 33px;
    margin-right: 15px;
}
.word{
    float: right;
}
p{
    font-size: 15px;
    margin: 0 30px 9px 0;
}
.blank{
    width: 60px;
    height: 100px;
}