.list{
    background-color: white;
    margin: 30px 150px;
    height: 550px;
    border-style: solid;
    border-color: #bebdc1;
    border-width: 1px;
}
.mark {
    background-color: rgba(128, 109, 109, 0.2);
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    border:1px solid rgba(128, 109, 109, 0.2);
    padding-left: 50px;
}
table,th,td
  {
    border:1px solid rgba(128, 109, 109, 0.2);
    color: rgba(29, 27, 34, 0.8);
    text-align: center;
  }
table
  {
    border-collapse: collapse;
    margin: 20px 20px;
    width: 97%;
  }
th{
    height: 35px;
}
td
  {
    height:50px;
  }
.package{
    border:1px solid;
    width: 100px;
    text-align: center;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border-color: #bebdc1;
}
.reduce{
    border: none;
    border-right:1px solid;
    background-color: white;
    width: 33px;
    height: 30px;
    font-size: 18px;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
span{
    height: 30px;
    line-height: 30px;
}
.plus{
    border: none;
    border-left:1px solid;
    background-color: white;
    width: 33px;
    height: 30px;
    font-size: 18px;
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.paymentButton{
    background-color: #5e6ac0;
    width: 70px;
    font-size:18px;
    border-radius:5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-right: 20px;
    height: 33px;
}
p{
    font-size: 15px;
    margin-right: 20px;
    float: right;
}
.a{

}